version: "3.9"
services:
# 1. THÊM SERVICE POSTGRES VÀO ĐẦU DANH SÁCH
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    env_file:
      - .env
# 2. CẬP NHẬT SERVICE KHÁC ĐỂ KẾT NỐI ĐẾN POSTGRES
  tenant-auth-service:
    build: ../services/tenant-auth-service
    container_name: tenant-auth-service
    ports:
      - "7001:8080"
    depends_on:      # <-- Thêm dòng này: Đợi DB chạy xong mới chạy Service
      - postgres
    env_file:        # <--- THÊM DÒNG NÀY
      - .env         # <--- THÊM DÒNG NÀY (Trỏ vào file .env trong cùng thư mục infra)
  menu-service:
    build: ../services/menu-service
    container_name: menu-service
    ports:
      - "7002:8080"
    depends_on:      # <-- Thêm dòng này: Đợi DB chạy xong mới chạy Service
      - postgres
    env_file:        # <--- THÊM DÒNG NÀY
      - .env         # <--- THÊM DÒNG NÀY (Trỏ vào file .env trong cùng thư mục infra)
  order-payment-service:
    build: ../services/order-payment-service
    container_name: order-payment-service
    ports:
      - "7003:8080"
    depends_on:            # <--- THÊM dependency
      - postgres
    env_file:
      - .env
  customer-reservation-service:
    build: ../services/customer-reservation-service
    container_name: customer-reservation-service
    ports:
      - "7004:80"
  ai-service:
    build: ../services/ai-service
    container_name: ai-service
    ports:
      - "7005:5000"
  admin-web:
    build: ../clients/admin-web
    container_name: admin-web
    ports:
      - "3001:3000"
  restaurant-management-web:
    build: ../clients/restaurant-management-web
    ports:
      - "3002:3000"
  guest-web:
    build: ../clients/guest-web
    ports:
      - "3003:3000"
  customer-mobile:
    build: ../clients/customer-mobile-app
    ports:
      - "3004:3000"
# env_file:
#   - ../infra/.env
volumes:
  postgres_data:
  # nên sửa 80 thành 8080 cho đồng bộ với các service khác